@import "normalize";



@import url('https://fonts.googleapis.com/css?family=Poppins');


/* Styling */
body {
    background: #ffc7a8;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
}

.weather {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

ul {
  background: rgb(36, 55, 69);
  padding: 3em;
  text-align: justify;
  
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: #ffc7a8;
}

// Drawer
aside {
  background: rgb(36, 55, 69);
  position: fixed;
  height: 100%;
  min-height: 100%;
  left: -200px;
  width: 200px;
  // always on top
  z-index: 999999;
  // animate
  transition: left .25s;
}

// Show Drawer
.drawer {
  left: 0;
}

a.toggle-drawer {
    text-decoration: none;
}


// All Sections
section {
  position: absolute;
  height: 100%;
  width: 100%;
}
// Section 1
#one {
  background: rgb(160, 185, 176);
}
// Section 2
#two {
  background: rgb(160, 185, 176);
}
// Section 3
#three {
  background: rgb(160, 185, 176);

}

// :target Selection from Sidebar
:target {
  z-index: 1;
}


