@import "normalize";



@import url('https://fonts.googleapis.com/css?family=Poppins');


/* Styling */
body {
    background: #FFC7A8;
    font-family: 'Poppins', sans-serif;
}

.weather {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

ul {
  background: teal;
  padding: 3em;
  
}

// Drawer
aside {
  background: #ccc;
  position: fixed;
  height: 100%;
  min-height: 100%;
  left: -200px;
  width: 200px;
  // always on top
  z-index: 999999;
  // animate
  transition: left .25s;
}

// Show Drawer
.drawer {
  left: 0;
}

// All Sections
section {
  position: absolute;
  height: 100%;
  width: 100%;
}
// Section 1
#one {
  background: #c9596b;
}
// Section 2
#two {
  background: rgba(36, 55, 69, 0.28);
}
// Section 3
#three {
  background: rgba(201, 89, 107, 0.23);
}
// :target Selection from Sidebar
:target {
  z-index: 1;
}


